body {
    background-image: url('https://raw.githubusercontent.com/JuanDev27/Web/refs/heads/main/res/fondo.jpg');
    height: 100%;
    margin: 0;
}

#encabezado {
    text-align: center;
}

#titulo_p {
    background-color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
}

#navegacion {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

}

.index {
    color: white;
}

.index li {
    margin: 5px 0;
}

.index ul li::marker {
    color: white;
    /* Cambia el color del punto */
}

.index a {
    width: fit-content;
    /*Ajustar al tamaño del texto*/
    color: white;
    font-size: large;
    display: block;
}

.index a:hover {
    font-weight: bold;
    color: rgb(36, 20, 116);
    background-color: rgba(255, 255, 255, 0.5);
}

#seccion1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    text-align: center;
}

#seccion1 h2,
#seccion1 p,
#seccion1 h1 {
    color: inherit;
}

#seccion1 h2,
#seccion2 h2,
#seccion3 h2 {
    background-color: purple;
}

#seccion2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    text-align: center;
}

#seccion2 h2,
#seccion2 p,
#seccion2 h1 {
    color: inherit;
}

#img1_S2:hover,
#img2_S2:hover,
#img3_S2:hover {
    scale: 110%;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
}

#seccion3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    text-align: center;
}

#seccion3 h2 {
    color: inherit;
}

footer {
    background-color: #301934;
    color: white;
    padding: 20px;
    text-align: center;
}

#cont_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#cont_derechos {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

/*ANIMACIONES*/
/*Efecto de una ola*/
@keyframes wave {

    0%,
    100% {
        filter: grayscale(0%);
        transform: translateY(0);
    }

    50% {
        filter: grayscale(100%);
        transform: translateY(-20px);
        /* Altura máxima del movimiento */
    }
}

/*Aplicar a imagenes*/
#img1_S3 {
    animation: wave 2s ease-in-out infinite;
}

#img2_S3 {
    animation: wave 2s ease-in-out infinite;
    animation-delay: 0.5s;
    /* Retraso para desfasar la ola */
}

#img3_S3 {
    animation: wave 2s ease-in-out infinite;
    animation-delay: 1s;
    /* Retraso mayor para completar el efecto */
}

/*Animacion de aparicion para el Header*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 2;
        transform: translateY(0);
    }
}

/*Llamar ID*/
.animacion {
    animation: fadeIn 1.5s ease-out;
}

/*Portabilidad para pantallas pequeñas*/
@media (max-width: 768px) {
    body {
        display: flex;
        font-size: 14px;
    }
}

/*Efecto de aparicion para Minecraft Logo(mcLogo)*/
#mcLogo {
    filter: brightness(0%);
    transition: filter 0.5s ease, box-shadow 0.5s ease;
}

#mcLogo:hover {
    scale: 107%;
    filter: brightness(100%);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
}

/*Animacion de pulso para imagen de GigaWorld de 2 fases*/
@keyframes pulso {

    0%,
    100% {
        transform: scale(1);
    }

    25%,
    75% {
        transform: scale(1.05);
    }

    50% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
        /*Punto maximo*/
    }
}

/*Aplicar a imagen*/
#pagoda {
    animation: pulso 2s infinite ease-in-out;
}

/*EFECTOS PARA ELEMENTOS*/
/*Referencias*/
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s;
}

a:hover {
    color: #ff5733;
    text-decoration: underline;
}

/*Efecto para video*/
#video {
    filter: grayscale(100%);
}

#video:hover {
    scale: 107%;
    filter: grayscale(0%);
    /* Vuelve a color */
}